:root {
    --footer-height: 4rem;
}

.header-container {
    background-color:rgb(247, 247, 247);
    box-shadow: 0 0 15px rgba(129, 129, 129, 0.2);
}

.header-container .navbar-nav {
    align-items:center;
}

.header-container .navbar-toggler {
    padding: .15rem .4rem;
    border-radius: 0px;
    border: none;
}

.header-container .navbar-toggler:hover {
    box-shadow: 0 0 0 .03rem;
}

.header-container .nav-link {
    margin: 0 10px;
    color: #999;
    text-transform: capitalize;
    display: inline-block;
    margin: 0;
    font-weight: 300;
    font-size: larger;
    text-align: center;
}

.header-container .nav-link:first-child {
    padding-left: 0;
}

.header-container .nav-link:last-child {
    padding-right: 0;
}

.header-container .nav-link.active {
    color: #333;
}

.header-container .nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 2px #333;  
    margin: 4px 1px 0 1px;
}

.header-container .nav-link:not(.active):after {
  border-bottom: solid 2px #AAA;  
  transform: scaleX(0);  
  transition: transform 120ms ease-in-out;
}

.header-container .nav-link:hover:after { 
    transform: scaleX(1); 
}

.header-branding-container {
    align-items: center;
}

.header-branding-container h2 {
    margin: 0;
}

.header-logo-container {
    padding: 4px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}
.header-logo {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #e6e6e6;
}

.body-container {
    min-width: min-content;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--footer-height);
}

.carousel-inner > .item > img {
    min-width: 100%;
    width: 100%;
  }
.samples-container {
    margin: 30px auto 0 auto;
    width:900px;
}

.sample-image-container {
    cursor: pointer;
}

.sample-image {
    width: 300px;
    height: 300px;
}

.carousel-caption {
    left: 35%;
    right: 35%;
    bottom: 3.25rem;
    background-color:rgba(19, 19, 19, 0.6);
    outline: 1px solid #9999995e;
    padding: .75rem;
}

.carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:50vh;
}

.testimonials-row {
    margin-top: 30px;
    background-color: #eee1b4;
}

.testimonials-container {
    padding: 30px 0;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    width: 290px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.testimonial-quote {
    width: 270px;
    text-align: center;
    font-style: italic;
}

.testimonial-author {
    font-weight: bold;
    font-style: italic;
    padding-top: 15px;
    text-align: right;
}

.footer-container {
    display: flex;
    background-color: #363636;
    text-align:center;
    color:gray;
    height: var(--footer-height);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: auto;
}

.story-img {
    display: flex;
    margin: auto;
}

.contact-selector-container {
    width: 1000px;
    margin: 30px auto 0 auto;
}

.contact-selector-container h3 {
    padding-bottom: 10px;
    text-align: center;
}

.contact-form-container {
    width: 800px;
    margin: 30px auto 0 auto;
}

/* Remove arrows from number input on forms
/* Chrome, Safari, Edge, Opera */
.order-number input::-webkit-outer-spin-button,
.order-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.order-number input[type=number] {
  -moz-appearance: textfield;
}

.form-tooltip {
    padding-left: 6px;
    font-style: italic;
    color: #999;
}

.form-floating .textarea {
    height: 120px;
}