:root {
    --header-height: 76px;
    --footer-height: 4rem;
    --form-width: 850px;
    --body-background: rgb(238, 238, 238);
    --body-background-faded: rgba(238, 238, 238, 0.3);
    --footer-color: #363636;
    --footer-color-faded: rgb(116, 102, 64);
    --color-header-text: rgb(224, 187, 82);
    --color-header-faded: #eee1b4;
    --header-footer-height: calc(var(--footer-height));
    --scrollbar-width: 15px;
}

.header-container {
    height: var(--header-height);
}

.header-container .navbar {
    background-color:rgb(247, 247, 247);
    box-shadow: 0 0 15px rgba(129, 129, 129, 0.2);

}

.header-container .navbar-nav {
    align-items: enter;
}

.header-container .navbar-toggler {
    padding: .15rem .4rem;
    border-radius: 0px;
    border: none;
}

.header-container .navbar-toggler:hover {
    box-shadow: 0 0 0 .03rem;
}

.header-container .nav-link {
    width: fit-content;
    color: #999;
    text-transform: capitalize;
    display: inline-block;
    margin: auto;
    font-weight: 300;
    font-size: larger;
    text-align: center;
}

.header-container .nav-link:first-child {
    padding-left: 0;
}

.header-container .nav-link:last-child {
    padding-right: 0;
}

.header-container .nav-link.active {
    color: #333;
}

.header-container .nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 2px #333;  
    margin: 4px 1px 0 1px;
}

.header-container .nav-link:not(.active):after {
  border-bottom: solid 2px #AAA;  
  transform: scaleX(0);  
  transition: transform 120ms ease-in-out;
}

.header-container .nav-link:hover:after { 
    transform: scaleX(1); 
}

.header-branding-container {
    align-items: center;
}

.header-branding-container h2 {
    margin: 0;
}

.header-logo-container {
    width: 200px;
    height: 50px;
    min-width: 200px;
    min-height: 50px;
}
.header-logo {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--body-background);
    color: #4a4a4a;
    overflow-x: hidden;
}

.body-container {
    padding-top: var(--header-height);
    min-width: min-content;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - var(--header-footer-height));
    overflow-y: auto;
    overflow-x: hidden;
}

.headline {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: var(--footer-color);
}

.headline-text, .calltoaction-text {
    color: var(--color-header-text);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.headline-text {
    height: 25vh;
}

.headline-text h1 {
    font-weight:bolder;
    font-size:8vmin;
    text-transform: capitalize;
}

.headline-text i {
    font-weight: 100;
}

.headline-text s {
    text-decoration-thickness: .65vh;
    text-decoration-color: white;
}

.headline-image {
    background-image:
        linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(131, 103, 19, 0.73)),
        url('/img/tshirtheader.jpg');
    width: 100%;
    height: 35vh;
    background-size: cover;
}

.calltoaction {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-color-faded);
    height: 200px;
}

.carousel-inner > .item > img {
    min-width: 100%;
    width: 100%;
}

.samples-container {
    margin: 30px auto 0 auto;
    width:900px;
}

.sample-image-container {
    cursor: pointer;
}

.sample-image {
    width: 300px;
    height: 300px;
}

.carousel-caption {
    left: 35%;
    right: 35%;
    bottom: 3.25rem;
    background-color:rgba(19, 19, 19, 0.6);
    outline: 1px solid #9999995e;
    padding: .75rem;
}

.carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:50vh;
}

.testimonials-row {
    background-color: var(--color-header-faded);
}

.testimonials-container {
    padding: 30px 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonial-container {
    width: 290px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.testimonial-quote {
    width: 270px;
    text-align: center;
    font-style: italic;
}

.testimonial-author {
    font-weight: bold;
    font-style: italic;
    padding-top: 15px;
    text-align: right;
}

.catchphrase-row {
    max-width: 750px;
    margin: auto;
}

.hometown-row {
    margin-top: 15px;
}

.hometown-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
}

.contact-row {
    padding: 50px 0;
    text-align: center;
    background-color: var(--footer-color);
}

.contact-text {
    color: white;
    font-size: large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    width: 100%;
}

.tshirt-banner-row {
    background-image:  
        linear-gradient(to bottom, var(--body-background-faded), rgba(131, 103, 19, 0.73)),
        url('/img/tshirtbanner.jpg');
    height: 30vh;
    background-size: cover;
}

.instructions-section {
    display: flex;
    margin: auto;
    margin-top: calc(var(--bs-gutter-x) * 0.5);
    margin-bottom: 50px;
    max-width: 992px;
    justify-content: center;
}

.instructions-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.instructions-container-row {
    width: 100%;
}

.instructions-image-container {
    padding: 0;
    padding-bottom: 50px;
}

.instructions-row {
    text-align: center;
    font-size: x-large;
    font-weight: 100;
    width: 74%;
}

.instuctions-rowb {
    font-weight: bold;
}

.instructions-hr {
    width: 30%;
    margin: 0 35%;
    border-top: 1px solid var(--footer-color);
    
}

.instructions-image {
    background-image:  
        linear-gradient(to bottom, rgba(245, 246, 252, 0.42), rgba(131, 103, 19, 0.43)),
        url('/img/tshirtmodel.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
}

.tshirt-banner-layer {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
}

.footer-container {
    display: flex;
    background-color: var(--footer-color);
    text-align:center;
    color:gray;
    height: var(--footer-height);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: auto;
}

.story-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    max-width: 720px;
    margin: auto;
}

.story-row {
    display: flex;
    flex-wrap: wrap;
}

.story-text-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-header-faded);
    border-radius: 4px;
    margin: .75rem;
    height: calc(450px - 1.5rem);
}

.story-image-container {
    width: 100%;
    overflow: hidden;
    padding: .75rem;
}

.story-divider {
    width: 25%;
    background-color: var(--footer-color);
    height: 8px;
    border-radius: 4px;
    margin: 0 20vw;
}

.story-text {
    width: 80%;
    font-size: large;
    font-weight: lighter;
}

.story-image {
    max-height: calc(60vh - 1.5rem);
    min-height: calc(40vh - 1.5rem);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.gallery-image {
    width: 100%;
    border-radius: 4px;
}

.contact-selector-container {
    margin: 30px auto 0 auto;
    transition: margin .5s ease;
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - var(--scrollbar-width));
    justify-content: center;
}

.contact-selector-container h3 {
    padding-bottom: 10px;
    text-align: center;
}

.centered-nav {
    margin-top: calc((100vh - var(--header-footer-height) - 282px) / 2);
}

.contact-form-container {
    width: calc(100vw - 30px - var(--scrollbar-width));
    padding: 25px;
    margin: 30px auto 0 auto;
    background-color:rgba(255, 255, 255, 0.4) !important;
    box-shadow: var(--ds-shadow-raised,0 1px 1px rgba(61, 61, 61, 0.25), 0 0 1px 1px rgba(61, 61, 61, 0.13));
    border-radius: 0.15em;
}

.contact-form-header {
    justify-content: center;
    width: 100%;
}

/* Remove arrows from number input on forms
/* Chrome, Safari, Edge, Opera */
.order-number input::-webkit-outer-spin-button,
.order-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.order-number input[type=number] {
  -moz-appearance: textfield;
}

.form-instructions {
    text-align: center;
    font-style: italic;
    color: #999;
}

.form-instructions a {
    text-decoration: none;
}

.form-button-row {
    width: calc(100vw - 60px - var(--scrollbar-width));
}

.form-button {
    background-color:rgba(255, 255, 255, 0.4) !important;
    box-shadow: var(--ds-shadow-raised,0 1px 1px rgba(61, 61, 61, 0.25), 0 0 1px 1px rgba(61, 61, 61, 0.13));
    transition-duration: 0.1s;
    transition: transform .1s ease-out, box-shadow .1s ease-out;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-button:first-of-type {
    margin-right: 20px;
}

.form-button:last-of-type {
    margin-left: 20px;
}

.form-button:hover {
    transform: translateY(-2px);
    box-shadow: var(--ds-shadow-overlay,0 3px 10px -4px rgba(61, 61, 61, 0.25), 0 0 2px rgba(61, 61, 61, 0.1));
}

.form-button-content {
    display: none;
}

.form-button h4 {
    color: var(--color-header-text);
    font-size: calc(1rem + 0.5vw);
}

.nav-link {
    padding: 0;
}

.form-button-content, .form-button-icon {
    color: rgb(95, 95, 95);
}

.form-button-icon {
    padding: 15px;
}

.form-button-content {
    margin-bottom: 10px;
}

.form-button.active {
    background-color:rgba(0, 0, 0, 0.6) !important;
    border: 1px rgb(0, 0, 0, 0) solid !important;
    box-shadow: 0;
}

.form-button.active .form-button-content, .form-button.active .form-button-icon {
    color: rgb(247, 247, 247);
}

.form-tab {
    margin: 0 auto;
}

.form-file-label {
    border-radius: .375rem;
    background-color: #eeeeee;
    padding-top: 10px;
    box-shadow: 2px 2px 3px rgba(87, 87, 87, 0.15) inset;
    transition: .15s ease-in-out;
    margin-bottom: 1rem !important;
}

.form-file-label:hover {
    background-color: #f3f3f3;
    box-shadow: 2px 2px 2px rgba(87, 87, 87, 0.15) inset;
}

.form-file-label label {
    padding-left: 1rem;
}

.form-tooltip {
    padding-left: 6px;
    font-style: italic;
    font-size: 11px;
    color: #999;
    text-transform: none;
    font-weight: normal;
}

.form-label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    color: #777;
}

.form-floating .textarea {
    height: 120px;
}

.form-floating .form-control {
    background-color: #eeeeee;
    transition: background-color .1s ease-out, box-shadow .1s ease-out;
    box-shadow: 2px 2px 3px rgba(87, 87, 87, 0.15) inset;
    border: none;
}

.form-floating .form-control:hover:not(:focus) {
    background-color: #f3f3f3;
    box-shadow: 2px 2px 2px rgba(87, 87, 87, 0.15) inset;
    border: none;
}

.form-control:focus {
    background-color: #ffffff;
    box-shadow: 0 0 1px 1px rgba(87, 87, 87, 0.45) inset;
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button,
.form-control:focus:not(:disabled):not([readonly])::-webkit-file-upload-button,
.form-control:hover:not(:disabled):not([readonly])::file-selector-button,
.form-control:focus:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dfdfdf
}

.form-submit-tooltip {
    text-align: center;
}

.form-submit {
    display: flex;
    margin: 0 auto;
    background-color: var(--color-header-text);
    transition: .1s ease-in-out;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(87, 87, 87, 0.15) inset;
    width: fit-content;
    padding: 6px 30px;
    justify-content: center;
}

.form-submit:hover {
   background-color: #fcfcfc;
   color: var(--color-header-text);
   border: 1px rgba(87, 87, 87, 0.25) solid;
}

.fade {
    transition: opacity 0.1s ease-out;
}

::-webkit-scrollbar-thumb {
    background-color: #585858;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #636363;
}

::-webkit-scrollbar-thumb:active {
    background-color: #808080;
}


::-webkit-scrollbar-track {
    background-color: var(--footer-color);
    margin-top: var(--header-height);
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

@media (min-width: 768px) {
    .headline-image {
        height: 50vh;
    }

    .headline-text {
        height: 50vh;
    }

    .headline-text h1 {
        font-size: 3.7vmax;
    }

    .instructions-section {
        margin-top: 50px;
    }

    .instructions-image-container {
        padding-bottom: 0;
    }
}

@media (min-width: 992px) {
    .form-button h4 {
        font-size: unset;
    }

    .nav-link {
        padding: unset;
    }

    .contact-selector-container {
        width: 992px;
    }

    .form-tab {
        width: var(--form-width);
    }
    
    .form-button {
        margin: 20px;
        border-radius: .15em !important;
    }
    
    .contact-form-container {
        width: var(--form-width);
    }

    .form-button-content {
        display: contents;
    }

    .story-container {
        max-width: 1200px;
    }

    .story-row {
        flex-wrap: unset;
        height: 450px;
    }

    .story-image-container {
        width: 50%;
    }

    .story-image {
        max-height: unset;
        min-height: unset;
    }

    .story-text-container {
        width: 50%;
    }
}